<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TIMED</title>
  <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <main>
    <div id="headings">
      <h1 id="product_header">SIMPLE</h1>
      <p id="subtitle">A web-based to-do list</p>
    </div>

    <div id="trynowdiv">
      <a href=to_do_list id="trynow">Start</a>
    </div>
  </main>

  <div id="whitespace"></div>

  <div id="info">
      <h3>Why Use Simple?</h3>
      <div id="feature_list">
        <div class="feature_card">
          Create unlimited lists
        </div>
        <div class="feature_card">
          Easy to use
        </div>
        <div class="feature_card">
          Simple UI
        </div>
    </div>
  </div>

  <div id="gif">
  <img src="/static/images/Black and Red Cool and Funky Gaming Logo.gif";
  </div>

</body>
</html>