<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TIMED</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <header>
    <p id="header">T</p>
  </header>

  <main>
    <div id="headings">
      <h1 id="product_header">TIMED</h1>
      <p id="subtitle">A web-based to-do list that tracks time spent</p>
    </div>

    <div id="trynowdiv">
      <a href=to_do_list id="trynow">Start</a>
    </div>
  </main>

  <div id="whitespace"></div>

  <div id="info">
      <h3>Why Use TIMED?</h3>
      <div id="feature_list">
        <div class="feature_card">
          Create unlimited lists
        </div>
        <div class="feature_card">
          Track time spent on tasks
        </div>
        <div class="feature_card">
          Time spent shown in percentages
        </div>
    </div>
  </div>

  

</body>
</html>